<div class="container" style=" margin-bottom: 70px;">
  <div class="user-card-container">
    <img class="user-avatar-profile" <%= cl_image_tag current_user.avatar %>
    <div style="display:inline-block"; class="info-container">
      <br>
      <h2><strong><%= @user.fullname %></strong></h2>
      <p><%= @user.title %></p>
      <p><strong>4.9 </strong>(1000 reviews)</p>
      <a class="btn btn-dark" href="/events">Tech & Engineering</a>
      <a class="btn btn-dark" href="/events">IT Consulting</a>
      <a class="btn btn-dark" href="/events">Tech Startup</a>
    </div>
     <% if @user.id == current_user.id %>
    <div class="edit-btn">
      <%= link_to 'Edit my profile', edit_user_path %>
    </div>
      <% end %>
  </div>
  <h1> <strong> Profile </strong></h1>
  <hr>
  <p><strong>About </strong><%= @user.about %></p>
  <p><strong>Experience </strong><%= @user.expertise %></p>
  <p><strong>Education </strong><%= @user.content %></p>
  <h1> <strong> Class </strong></h1>
  <hr>
  <% @user.events.each do |event| %>
        <ul>
          <li>Event Name:<%= event.title %></li>
        </ul>
  <% end %>
  <h1> <strong> Review </strong></h1>
  <hr>
   <% @user.events.each do |event| %>
   <% event.appointments.each do |appointment| %>


   <% appointment.reviews.each do |review| %>
   <ul>
   <li><%= review.title %></li>
   </ul>
   <% end %>
   <% end %>
  <% end %>

</div>

