<% @events.each do |event| %>
  <div class="card child-row" style="width: 20rem; margin: 10px">

    <div class="card-event-img">
      <% if event.photo.attached? %>
        <%= link_to event_path(event) do %>
          <%= cl_image_tag event.photo.key , class:"card-img-top card-event-img"%>
        <% end %>
      <% end %>
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong><%= event.title %></strong></h4>
      <p><%= event.category %></p>
      <i class="far fa-calendar-alt"> <%= event.date.strftime("%b %e, %l:%M %p")%></i>
      <br>
      <i class="fas fa-external-link-square-alt"> <%= event.difficulty %> </i>
      <%= link_to "Detail", event %>
    </div>
  </div>
<% end %>
