<p id="notice"><%= notice %></p>

<% if @event.photo.attached? %>
        <%= link_to event_path(@event) do %>
          <%= cl_image_tag @event.photo.key , class:"card-img-top card-event-img"%>
        <% end %>
      <% end %>
<h4>Review</h4>
<% @event.appointments.each do |appointment| %>
    <% appointment.reviews.each do |review| %>
      <ul>
        <li>title: <%= review.title %></li>
        <li>content: <%= review.content %></li>
        <li>rating: <%= review.rating %></li>
     </ul>
    <% end %>
<% end %>



<div class="container d-flex">
  <div>
    <h3 class="my-1"><strong>About this class </strong></h3>
    <p><%= @event.description %><p>
    <div class="center">
      <%= render "shared/card_user_profile" %>
    </div>


  </div>
  <div class="event-info-card my-3">
    <p><strong>Quota:  </strong>Unlimited</p>
    <p><strong>Difficulty: </strong><%= @event.difficulty %></p>
    <p><strong>Price: free </strong></p>
    <p><strong>Date & Time: </strong>@event.date </p>


    <div class="d-flex">
      <br>
      <button class="btn btn-success m-1"><%= link_to 'Register', new_event_appointment_path(@event.id) %></button>
    </div>
  </div>
</div>

