<p id="notice"><%= notice %></p>

<img style="height:300px; width:auto"; src="<%= cl_image_path @event.photo.key %>">
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @event.difficulty %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
