<%= render "shared/banner" %>
<div class="container-why">
    <h1 class="align-text-center "><strong>How it works</strong></h1>
    <div class="cards-why-container d-flex justify-content-center">
      <div class="card-why">
        <img src="<%=image_path "community.jpg" %>" alt="Astronaut standing next to rocket on the moon.">
        <h3>Join a Community</h3>
        <p>Once you registered, we will invite you to join our exclusive slack channel where you will be able to network among the community, share your ideas and engage in likeminded conversations throughout the channels.</p>
      </div>
      <div class="card-why">
        <img src="<%=image_path "mentor.jpg" %>" alt="A group of friends clinking their beer bottles together.">
        <h3>Become a Mentor</h3>
        <p>Mentors exist to help guide people in finding answers needed to navigate challenges and progress. Mentor.in offers that platform to connect mentors and mentees seeking a path for personal growth and career adbancement.</p>
      </div>
    </div>
</div>
<div>
  Event numbers:<%= Event.count %>
  Mentor count:<%= User.count %>
</div>
<br>
<br>
<br>
<br>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= asset_path 'background.svg' %>);">
</div>


