<div class="devise-card">
  <h1><strong>Review</strong></h1>
  <p> Leave a review of the class that you've attended </p>
  <hr>
  <div class="container">
        <%= simple_form_for [@appointment, @review] do |f| %>
          <div class="form-inputs">
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.input :rating %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, class: "btn-color" %>
          </div>
        <% end %>
  </div>
</div>
